<!-- /components/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container-fluid px-4">
    <a class="navbar-brand fw-bold fs-3 tricolor-text" href="index.html">
      <img src="/assets/images/icons/flag-icon.png" alt="Logo" width="30" class="d-inline-block align-text-top me-2">
      My India
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-5">
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/states.html">States</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/culture.html">Culture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/food.html">Food</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/history.html">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/travel.html">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pages/contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
